# Set the user and group under which Nginx will run.
user {{ NGINX_USER }};
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

# Maximum number of file descriptors that can be opened by this process.
events {
    worker_connections 1024;
}

http {
    # Include all files in the /etc/nginx/conf.d directory.
    include /etc/nginx/conf.d/*.conf;

    # Set the MIME types that Nginx will recognize.
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    # Log format for access logs.
    log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                  '$status $body_bytes_sent "$http_referer" '
                  '"$http_user_agent" "$http_x_forwarded_for"';

    # Set strict security headers.
    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Frame-Options SAMEORIGIN;
    add_header Content-Security-Policy "default-src 'self';";

    # configuration file for SSL settings.
    include /etc/nginx/snippets/ssl-params.conf;

    include /etc/nginx/sites-enabled/*;
}
