[Unit]
Description={{ description }}
After=network.target

[Service]
Type=simple
WorkingDirectory={{ path_to_wd }}
ExecStart={{ path_to_executable }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
